
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  margin: auto;
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}

.text-header {
  color: blue;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* Style form */
.form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.form-checkbox {
display: flex;
flex-direction: column;
gap: 10px;
border: 1px solid #eeeeee;
border-radius: 6px;
box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12);
background: rgba(255, 255, 255, 1);
width: 370px;
padding: 10px 0 10px 0;
}


.all-page, .item-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px 8px 22px;
}
.item-page p {
  font-size: 14px;
  line-height: 18.2px;
}

.text-all-page {
  cursor: pointer;
}

.show-page {
  display: none;
}
.form-check-page {
display: block;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(205, 205, 205, 1);
  background:  rgba(255, 255, 255, 1);;
  border-radius:6px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: rgba(80, 135, 248, 1);
  border: none;
}
/* Hover  */
.container input:hover~.checkmark {
  background-color: rgba(80, 135, 248, 1);
  border: 1px solid rgba(189, 189, 189, 1);
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 4px;
  width: 17px;
  height: 9px;
  border: solid white;
  border-width: 1px 1px 0px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(135deg);
  align-items: center;
}

.horizontal {
  padding: 10px 15px;
}
.horizontal hr {
  border: 0.7px solid rgba(205, 205, 205, 1);
  width: 340px;
}

/* Button Style */


.btn {
border: none;
border-radius: 4px;
padding: 10px 20px 10px 20px;
background-color: rgba(255, 206, 34, 1);
margin: 10px 15px 10px 15px;
font-size: 14px;
line-height: 18.2px;
font-weight: 400;
cursor: pointer;
width: 90%;
}

.btn:hover {
  background-color: rgba(255, 216, 77, 1);
}


